body {
    font-family: 'Montserrat', sans-serif, Arial, Helvetica;
    background-color: #E5F4E3;
}
header {
    text-align: center;
}
.foto {
    border-radius: 10%;
    width: 250px;
    padding: 5px;
    margin:5px;
    border: 2px solid #062d5f;
}
.sob {
    font-size: 16px;
    font-weight: 600;
}
.regiao {
color: #003F91;
font-weight: 600;
font-size: 15px;
line-height: 20px;
}
.redirection {
    text-decoration: none;
}
.button {
    color: whitesmoke;
    line-height: 30px;
    text-decoration: none;
    background-color: #5DA9E9;
    padding: 10px 15px;
    border-radius: 100px;
}
.foot {
    text-align: center;
}
.main-header {
    width:100%;
    background-color: #5DA9E9;
    border-radius: 1%;
    border: 2px solid #397bb1;
}
.about {
    font-weight: 600;
    display: inline-block;
}
.emp:hover {
    color: green;
    font-weight: 600;
}
.js:hover {
    color: green;
    font-weight: 600;
}
.git:hover {
    color: green;
    font-weight: 600;
}
.css:hover {
    color: green;
    font-weight: 600;
}
.in-links {
    display: inline-block;

}
.out-links {
    display: inline-block;
    width: 300px;
    padding-left: 70px;
}