body {
    font-family: 'Montserrat', sans-serif, Arial, Helvetica;
    background-color: #E5F4E3;
}
.description {
font-style: italic;
}
.foto {
    border-radius: 100%;
}
.sob {
    font-size: 16px;
    font-weight: 0;
}
.regiao {
color: #003F91;
font-weight: 600;
font-size: 15px;
line-height: 20px;
}
.emp {
    font-size: 20px;
}
.adap {
    font-size: 18px;
}
.js {
    font-size: 16px;
}
.bash {
    font-size: 14px;
}
.git {
    font-size: 12px;
}
.html {
    font-size: 10px;
}
.css {
    font-size: 8px;
}
.redirection {
    text-decoration: none;
    
}
.button {
    color: whitesmoke;
    line-height: 30px;
    text-decoration: none;
    background-color: #5DA9E9;
    padding: 10px 15px;
    border-radius: 100px;
}
.foot {
    text-align: center;
}